<!-- This is the view template for the about Page -->

<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <p>Some text here</p>
    <script type="text/javascript">
      document.write(getDate());
    </script>
    {{> footer}}
  </body>
</html>
